@import '../../index.scss';

.Header {
    
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $mainGreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    &__icon{
        margin-right: 0.7rem;
    }

    nav {
    height: 100%;
    position: absolute;}

    a{
        &:link,
        &:visited{
        color: $mainWhite;
    }
    }
}



@media (max-width: 499px){
    .Header nav{
        display: none;
    }
}