@import '../../index.scss';
.Banner{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2c8f6e70, #00000033),url(../../assets/images/banner.jpg) center/cover no-repeat;
}
.Title{
    display: flex;
    flex-direction: column;
    align-items: center;
 h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 4.5rem;
    color: $mainWhite;
    padding: 0 2rem;
    /*margin-bottom: 2rem;*/
    letter-spacing: 0.4rem;
 }
 p{
    margin: 0 auto;
    margin-bottom: 2rem;
    line-height: 2;
    font-weight: 400;
    font-size: 1.4rem;
    color:$mainWhite;
  }
}


.Btn{
    background: linear-gradient(to right, #3c8c3c, #e9da58ab);
    font-family: inherit;
    color:$mainWhite;
    //animation: moveInFromBottom 0.5s ease-out 0.75s;
        /*important*/
    //animation-fill-mode: backwards;
    &,
    &:link,
    &:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; /**/
    position: relative;
    font-size: 1rem;
    /* change for the <button> element */
    border: none;
    cursor: pointer;}
 
    &:hover{
       transform: translateY(-3px);
       box-shadow: 0 1rem 2rem rgba($mainBlack,0.2); 

       &::after{
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
        background-color: $mainWhite;
    }
    }

    &:active, 
    &:focus{
        outline: none;
        transform: translateX(-1px);
        box-shadow: 0 .5rem 1rem rgba($mainBlack,0.2);
    }


    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position:absolute;
        top: 0;
        left: 0;
        z-index:-1;
        transition: all .4s; /*we set transition in the initial state*/
    }


}
