@import '../../index.scss';
.Tour{
    margin-top: 55px;
}
.TourList{
    width: 70vw;
    margin: 0 auto;
    padding: 2rem;
}
.Spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:  $bp-small){
    .TourList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }
}

@media screen and (min-width:  $bp-medium){
    .TourList{
        width: 85vw;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: $bp-large){
    .TourList{      
        grid-template-columns: repeat(4, 1fr) ;
    }
}