*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


$mainBlack: #222;
$mainBlue: #407bc8;
$mainWhite: #fff;
$mainGrey: #ececec;
$mainGreen: #2c8f6e;
$mainYellow:#e9da58;

$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1140px;

body{
    background-color: $mainWhite;
    color: $mainBlack;
    font-family: 'Poppins', sans-serif;
}